<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/index.css" type="text/css">

</head>
<body>
<h1>RAYBARO</h1>
<p>
    <a href="/board/page/1"> 시작하기 </a>
</p>

</body>
</html>