<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/list.css" type="text/css">
    <meta charset="UTF-8">
</head>

<body>
<header>
    <div class="wrapper">
        <h1><a href="#"><span>Raybaro </span><span class="id">Database System</span> </a></h1>
    </div>
</header>

<nav>
    <ul class="menu">
        <li><a href="/board/page/1" id="menubar">홈으로</a></li>
        <li><a href="/board/write" id="menubar">자료입력</a></li>
        <li><a href="/board/search_home" id="menubar">검색하기</a></li>
    </ul>
</nav>

<div clss="stick">

</div>
<div class ="searchbar">
    <div class="bar1">
        <form method="post" action="/board/search">
            <select id="search_query" name="search_query">
                <option value="1">입고처</option>
                <option value="2">모델명</option>
                <option value="3">반출번호</option>
                <option value="4">시리얼번호</option>
            </select>
            <input type="text" name="search" id="search" required/>
            <input type="submit" id="search1" value="검색">
        </form>
    </div>
    <div class="bar2">
        <form method="post" action="/board/date_search">
            <select id="date_search_query" name="date_search_query">
                <option value="1">입고날짜</option>
                <option value="2">출고날짜</option>
            </select>
            <input type="date" id="startday" name="startday" required>
            <td><input type="date" id="endday" name="endday" required>
                <input type="submit" id="search2" value="검색">
        </form>
    </div>

</div>


</body>
</html>

