<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RAYBARO</title>
</head>


<form action="/upload" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td><label>file</label></td>
            <td><input type="file" name="photo"/></td>
        </tr>
    </table>
    <input type="submit" value="파일 업로드">
</form>
<body>
</body>

</html>