<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>RAYBARO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>

<body>

<form method="post" action="/board/write" onsubmit="onWriteSubmit()" enctype="multipart/form-data">
    <table>
<!--        <caption align="right">Raybaro Repair List</caption>-->
        <thead>
        <tr>
            <td colspan="6" id="main">Repair List</td>
        </tr>

        </thead>
        <tbody>
        <tr>
            <th>수리 분류</th>
            <td><select id="sort" name="sort" style="width:50%;height:100%;">
                    <option value="1">통신계측기수리</option>
                    <option value="2">기지국장비수리</option>
                    <option value="3">전자저울수리</option>
                </select>
            </td>
            <th>수리 요청 회사</th>
            <td><select id="recompany" name="recompany" style="width:50%;height:100%;">
                    <option value="1">누비콤</option>
                    <option value="2">키사이트테크놀로지</option>
                    <option value="3">삼성전자</option>
                    <option value="4">삼성SDS</option>
                    <option value="5">온세미세미컨덕터</option>
                    <option value="6">큐웨이</option>
                    <option value="7">엘지전자</option>
                    <option value="8">파워넷</option>
                    <option value="9">아이텍전자</option>
                    <option value="10">트림블</option>
                    <option value="11">히로세코리아</option>
                    <option value="12">울쏘하이텍</option>
                    <option value="13">아비코전자</option>
                    <option value="14">비스타콤</option>
                    <option value="15">고려대학교</option>
                    <option value="16">국민대학교</option>
                    <option value="17">대전테크노파크</option>
                    <option value="18">히다찌엘지</option>
                    <option value="19">평일</option>
                    <option value="20">맥스텍</option>
                    <option value="21">카이네트웍스</option>
                    <option value="22">파워넷</option>
                    <option value="23">성호전자</option>
                </select>
            </td>
            <th>최초 고객사 및 담당자</th>
            <td><input type="text" name="writer" id="writer" style="width:50%;height:50%;font-size:15px;" required/></td>
        </tr>

        <tr>
            <th>모델명</th>
            <td><select id="title" name="title" >
                    <option value="1">통신계측기</option>
                    <option value="2">기지국장비</option>
                    <option value="3">전자저울</option>
                </select>
            </td>
            <th>장비 제조사명</th>
            <td><input type="text" name="gearcompany" id="gearcompany" style="width:50%;height:50%;font-size:15px;" required/></td>
            <th>제품 코드 번호</th>
            <td><input type="text" name="codenum" id="codenum" style="width:50%;height:50%;font-size:15px;" required/></td>
        </tr>

        <tr>
            <th>제품 시리얼 번호</th>
            <td><input type="text" name="codeserial" id="codeserial" style="width:50%;height:100%;font-size:15px;" required/></td>
            <th>입고날짜</th>
            <td><input type="date" id="startday" name="startday"></td>
            <th>출고날짜</th>
            <td><input type="date" id="endday" name="endday"></td>
        </tr>
        <tr>
            <th>고객 접수 증상</th>
            <td><input type="text" name="clientsym" id="clientsym" style="width:50%;height:50%;font-size:15px;" required/></td>

            <th>고장 증상</th>
            <td><input type="text" name="clientsym" id="clientsym" style="width:50%;height:50%;font-size:15px;" required/></td>

        </tr>
        <tr>
            <th>수리내역</th>
            <td colspan="6"><input type="text" style="width: 99%;" name="comment" id="comment" required/></td>

        </tr>

        <tr>
            <th>이미지 등록</th>
            <td colspan="6"><input type="file" name="photo" id="image"/></td>
        </tr>
        <tr>
            <td colspan="6"><input type="submit" id="submit" value="등록하기" style="text-align:center; display:block; margin: 0 auto;" ></td>
        </tr>
        </tbody>

    </table>
</form>

</body>
</html>
