/**{*/
/*    background-color:lightblue;*/
/*}*/
header{
    text-align:center;
    color:gray;

}
span{
    color:#4B5AAE;
    font-size:40px;
}

ul { list-style: none; }
nav { display: flex; justify-content: center; align-items: center;background-color:white;}
/*padding: .25em; height: 55px;*/
nav ul { flex: 1; display: flex; justify-content: flex-end; align-items: center; margin: 0; }
nav ul li { padding: 0; margin: 0; }
nav ul li a { padding: 1em; font-size: 0.85em; display: flex; align-items: flex-end; color:lightsteelblue; }


a:link { text-decoration: none; color:black;}
nav ul li a:visited { color: ghostwhite; text-decoration: none;}
a:hover { color: gray; text-decoration: none;}

p{
    text-align:right;
    font-size:16px;
    font-family: fantasy;
    font-weight: bold;
}
/*div {*/
/*    overflow-x: auto;*/
/*}*/

table {
    border-collapse:collapse;
    margin-left:150px;
    width:86%;
    text-align:center;
    border-top: 1px solid #444444;
    border-right:white;
    font-size:13px;
    border-left:white;
}
th,td{
    padding: 20px;
    text-align:center;
    border-bottom: 1px solid #444444;
}
td {
    font-size: 13px;
    border-right: white;
    border-left: white;
}
th{
    color: white;
    background: #4B5AAE;
    border-right:#4B5AAE;
    border-left:#4B5AAE;
}

/*#enter{*/
/*    color:#4B5AAE;*/
/*    text-align:center;*/
/*}*/

#excel {
    color: white;
    font-family: fantasy;
    font-size: 14px;
    font-weight: bold;
    background: #4B5AAE;
    border-radius:20px;
    border:1px white;
    /*margin-left: 1180px;*/
}

.searchbar{
    margin-left:170px;
    padding-left:200px;

}

/*.download{*/
/*    margin-left:300px;*/
/*    padding-left:600px;*/
/*    color: #4B5AAE;*/
/*    font-family: fantasy;*/
/*    font-size: 15px;*/
/*    font-weight: bold;*/
/*    background: white;*/
/*    border: 0px;*/
/*}*/
.down1{
    width:90px;
    float:left;
    margin-right:20px;
    padding:20px;
    margin-left:1200px;
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
    color:white;
    border: 0px;
}
.down2{
    width:90px;
    float:left;
    padding:18px;
    font-size:16px;


}
#enter{
    color: #4B5AAE;
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
    background: white;
    border: 0px;
}

.bar1{
    width:300px;
    height:100px;
    padding:30px;
    float:left;
    margin-right:5px;

}
.bar2{
    width:600px;
    height:100px;
    float:left;
    padding:30px;
}

#search_query{
    color: #4B5AAE;
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
    border: 1px black;

}
#date_search_query{
    color: #4B5AAE;
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
    border: 1px black;
}
#search1{
    background:#4B5AAE;
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
    border: 1px black;
    color:white;

}
#search2{
    background:#4B5AAE;
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
    border: 1px black;
    color:white;

}