/**{*/
/*    background-color:lightblue;*/
/*}*/
header{
    text-align:center;
    color:gray;
    width:90%;
    margin-left:140px;
}
span{
    color:#4B5AAE;
    font-size:40px;
}
.menu{
    margin-top:38px;
}
#menubar{
    color:white;
    font-size:15px;
    font-weight:bold;
}
a{
    color:black;
}

ul {
    list-style: none;
}
.id{
    color:darkgray;
    font-size:35px;

}
h5{
    font-size:15px;
}

nav{
    display:block;
    display:inline;
    width:100px;
    margin: 27px;
    height:370px;
    float:left;
    padding:8px;
    margin-left:28px;
    line-height:50px;
    background:#4B5AAE;
}
nav ul a {
    text-align: center;
}
nav ul{
    list-style-type: none;
    padding-left:20px;
}


a:link {
    text-decoration: none;
    color:white;
    text-align:center;

}


table {
    border-collapse:collapse;
    margin-left:150px;
    width:86%;
    text-align:center;
    border-top: 1px solid #444444;
    border-right:white;
    font-size:11px;
    border-left:white;
}
th,td{
    padding: 20px;
    text-align:center;
    border-bottom: 1px solid #444444;
}
td {
    font-size: 13px;
    border-right: white;
    border-left: white;
    background:ghostwhite;
}
th{
    color: white;
    background: #4B5AAE;
    border-right:#4B5AAE;
    border-left:#4B5AAE;
}

/*#enter{*/
/*    color:#4B5AAE;*/
/*    text-align:center;*/
/*}*/

#excel {
    color: white;
    font-family: fantasy;
    font-size: 14px;
    font-weight: bold;
    background: #4B5AAE;
    border-radius:20px;
    border:1px white;
    /*margin-left: 1180px;*/
}

.searchbar{

    margin-left:170px;
    padding-left:200px;
    padding-top:60px;

}

/*.download{*/
/*    margin-left:300px;*/
/*    padding-left:600px;*/
/*    color: #4B5AAE;*/
/*    font-family: fantasy;*/
/*    font-size: 15px;*/
/*    font-weight: bold;*/
/*    background: white;*/
/*    border: 0px;*/
/*}*/
.down1{
    width:80px;
    float:left;
    margin-right:2px;
    padding:20px;
    margin-left:1000px;
    font-family: fantasy;
    font-weight: bold;
    color:white;
    border: 0px;
}
.down2{
    width:90px;
    float:left;
    padding:18px;

}
#enter{
    color: #4B5AAE;
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
    background: white;
    border: 0px;
}
#mm{
    color: #4B5AAE;
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
    background: white;
    border: 0px;
    padding-right:10px;


}

.bar1{
    width:330px;
    height:100px;
    padding:30px;
    float:left;
    margin-right:5px;

}
.bar2{
    width:500px;
    height:100px;
    float:left;
    padding:30px;
}

#search_query{
    color: #4B5AAE;
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
    border: 1px black;

}
#date_search_query{
    color: #4B5AAE;
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
    border: 1px black;
}
#search1{
    background:#4B5AAE;
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
    border: 1px black;
    color:white;

}
#search2{
    background:#4B5AAE;
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
    border: 1px black;
    color:white;

}
