
header{
    text-align:center;
    color:gray;
    width:85%;
    margin-left:140px;


}
span{
    color:#4B5AAE;
    font-size:40px;
}
#menubar{
    color:white;
}

.id{
    color:darkgray;
    font-size:35px;

}
nav{
    display:block;
    width:100px;
    height:500px;
    float:left;
    padding:20px;
    margin-left:10px;
    line-height:80px;
    background:#4B5AAE;
}
nav ul a {
    text-align: center;

}
nav ul{
    list-style-type: none;
    padding-left:20px;
}
nav ul li{
    border-bottom:1px solid #c0c0c0;
}
span{
    color:#4B5AAE;
    font-size:40px;
}
table {
    border-collapse:collapse;
    margin-left:400px;
    margin-top:90px;
    text-align:center;
    font-size:13px;

}
th,td{
    padding: 20px;
    text-align:center;
    border-right: 2px solid black;

}
td {
    font-size: 13px;
}
th{
    color: white;
    background: #4B5AAE;

}

nav{
    display:block;
    width:100px;
    height:500px;
    float:left;
    padding:10px;
    margin-left:10px;
    line-height:80px;
    background:#4B5AAE;
}
nav ul a {
    text-align: center;

}
nav ul{
    list-style-type: none;
    padding-left:20px;
}
nav ul li{
    border-bottom:1px solid #c0c0c0;
}

a:link {
    text-decoration: none;
    color:white;
    text-align:center;

}