
header{
  text-align:center;
  color:gray;
  width:90%;
  margin-left:140px;
}
span{
  color:#4B5AAE;
  font-size:36px;
}
#menubar{
  color:white;
  font-size:15px;
  font-weight:bold;
}

a{
  color:black;
}

ul {
  list-style: none;
}

#menubar{
  color:white;
  text-align: center;
  font-weight:bold;
}
.menu{
  margin-top:22px;
}

.id{
  color:darkgray;
  font-size:35px;

}

#mainmenu{
  color:lightgray;
  font-size:20px;
  font-weight:bold;
}
nav{
  display:block;
  display:inline;
  width:100px;
  margin: 20px;
  height:380px;
  float:left;
  padding:10px;
  margin-left:100px;
  line-height:70px;
  background:#4B5AAE;
}
nav ul a {
  text-align: center;

}
nav ul{
  list-style-type: none;
  padding-left:20px;
}


a:link {
  text-decoration: none;
  color:white;
  text-align:center;

}
table {
  border-collapse:collapse;
  margin-left:360px;
  margin-top:40px;
  text-align:center;
  border-top: 1px solid #444444;

  font-size:13px;


}
th,td{
  padding: 20px;
  text-align:center;
  border-bottom: 1px solid #444444;
}
td {
  font-size: 13px;
  background-color:whitesmoke;
}

th{
  color: black;
  border-right:#4B5AAE;
  border-left:#4B5AAE;
}

#main{
  font-size:23px;
  margin:auto;
  text-align: center;
  background-color: #4B5AAE;
  color:white;
  font-weight:bold;
}

input[type=submit] {
  padding: auto;
  margin-left:120px;
  display:flex;
  border: 0 none;
  background-color:  #4B5AAE;
  cursor: pointer;
  color:white;
  font-weight:bold;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}
#end{
  background-color:white;
}
a:link { text-decoration: none; color:black;}
a:visited { color: black; text-decoration: none;}
a:hover { color: lightsteelblue; text-decoration: none;}

p{
  text-align:center;
}